* {
    font-family: 'Golos Text', sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(181, 220, 181);
}

.bayan {
    max-width: 70vw;
    margin: 0 auto;
    padding-top: 10vh;
    padding-bottom: 10vh;

}

.bayan__header {
    font-size: 2em;
    font-weight: bold;
}

.bayan__label {
    color:rgb(41, 32, 148);
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 5vh;
    transition: .5s;
}

.bayan__label__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bayan__icon {
    opacity: 0;
    max-height: 5vh;
    transition: .5s;
}

.bayan__img {
    display: block;
    max-height: 0;
    max-width: 50vw;
    margin: 0 auto;
    margin-top: 5vh;
    transition: .5s;
}

.bayan__input {
    -webkit-appearance: none;
    appearance: none;
}

.bayan__wrapper:hover .bayan__label {
    color: rgb(0, 0, 0);
}

.bayan__wrapper:hover .bayan__icon {
    opacity: 1;
}

.bayan__label:hover > .bayan__img {
    max-height: 50vh;
}

.bayan__input:checked ~ .bayan__img {
    max-height: 50vh;
}

.bayan__input:checked .bayan__label {
    color:rgb(0, 0, 0);
}

.bayan__input:checked + .bayan__label__wrapper .bayan__label__span {
    color:rgb(0, 0, 0);
}

.bayan__input:checked + .bayan__label__wrapper .bayan__icon {
    transform: rotate(135deg);
}