* {
    font-family: 'Golos Text', sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(181, 220, 181);
}

.bayan__wrapper {
    max-width: 80vw;
    margin: 0 auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    
}

.bayan__header {
    font-size: 2em;
    font-weight: bold;
}

.bayan__label {
    font-size: 1.5em;
    font-weight: bold;
}

.bayan__img {
    display: block;
    max-width: 50vw;
    max-height: 50vh;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.bayan__input {
    -webkit-appearance: none;
    appearance: none;
    }